{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{if .Site.Home.Content }} 
{{.Site.Home.Content}}	
{{else}}           
	{{if eq .Site.Language.Lang "ko"}}
		<h1>Creative Flow</h1>
		<p>나의 창조적 흐름은 기록되지 않으면 과거를 모르는 강물처럼 흘러가버린다.</p>
    <p>흐름의 기록이 모여 호수가 되고 호수는 내 마음의 곳간이 된다.</p>
    <p>그저 나는 호숫물을 양동이에 퍼다가 컵에 담기만 하면 식수 걱정은 없겠지...</p>
	{{else}}
		<h1>Creative Flow</h1>
		<p>If my creative flow is not recorded, it flows like a river that does not know the past. </p>
    <p>The record of the stream is gathered to become the lake, and the lake becomes the storehouse of my heart. </p>
    <p>I would not worry about drinking water if I just pour water in a bucket and put it in a cup ... </p>
	{{end}}
{{ end }} 
{{ partial "footer.html" . }}
